body {
    background-color: #83b3d8;
}
.quiz-container {
    width: 80vw;
    height: 90vh;
    margin: 0 auto;
    background-color: #ffffffff;
    border-radius: 40px 40px 50px 50px;
}
.quiz-container h1 {
    background-color: #0d316b;
    font-size: 30px;
    text-align: center;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    height: 2%;
}
#score {
    color: #5A6772;
    text-align: center;
    font-size: 30px;
}
.quiz-container #question {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #5A6772;
}

.buttons {
    margin-top: 30px;
}

#btn0, #btn1, #btn2, #btn3, #replay-btn {
    background-color: #9bc1ff;
    width: 50%;
    font-size: 20px;
    color: #000;
    border-radius: 10px;
    padding: 10px 10px;
    box-shadow: 10px 10px 5px #aaaaaa;

}
.flag-container {
    display: table;
    margin: 0 auto;
    min-height: 15vh;
    border-radius: 10px;
    width: 30vw;
    padding: 10px 60px;
    background-color: #0d316b;
    box-shadow: 10px 10px 5px #aaaaaa;

}
#flag {
    display: block;
    max-width: 15vw;
    max-height: 15vh;
    margin: auto;
}
#source {
    color: black;
    font-size: 10px;
}
#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
    cursor: pointer;
    background-color: #0d316b;
    color: white;
}
#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus, #replay-btn:focus {
    outline: 0;
}
#showAnswer {
    text-align: center;
    border-radius: 50px;
    font-size: 20px;
    padding: 20px 20px;
    color: white;
}
#progress {
    color: #2b2b2b;
    text-align: center;
    font-size: 18px;
    width: 20%;
}